@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');
body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #845ef7;
  --sb-size: 10px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

::-webkit-scrollbar {
  width: var(--sb-size)
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  border: 3px solid #232E33;
}

body {
  color: white;
  font-family: "poppins";
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  min-height: 50vh;
  display: flex;
  background: url("./low-poly-grid-haikei.svg") no-repeat center center/cover;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  overflow: hidden;
  z-index: 1;
}

.main::before {
  background-color: #161616;
  content: "";
  position: static;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0.6;
  width: 100%;
}

.container {
    width: 90%;
    /* max-width: 100%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    padding-bottom: 10rem;
    background-color: #272727;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 1rem;
  z-index: 11;
  background-color: #1a1a1a;
  margin-top: 0;

}
.logo {
  font-family: "poppins";
  color: #845ef7;
  font-size: 1.5rem;
  margin-inline: 1rem;
  font-weight: 600;
}
span {
  color: white;
}
h1 {
  font-size: 18px;
  text-align:center;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

ol {
  font-size: 16px;
  margin-left: 20px;
}

a {
  color: #845ef7;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.start-button {
  background-color: #845ef7;
  color: black;
  font-family: "Poppins";
  outline: none;
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  float: right;
}

.start-button:hover {
  background-color: #9775fa;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
